.article-title
  h1 The Ipsum to Dalor et Felto
  p.credit By Ipsum
    span.date=' March 31, 2013 | 3:23PM ET'
.content
  .sidebar
    .chapters
    img.arrows(src='images/arrows.png')
    a.prev(href='#') Previous
    a.next(href='#') Next
    
  .illustration
    #vis
    .extended-content
      p
